* {
  font-family: Arial, Helvetica, sans-serif;
}
.picture1 {
  position: relative;
  text-align: center;
  color: white;
}
.top {
  position: absolute;
  top: 8px;
  left: 400px;
  font-size: 30px;
}
.left {
  position: absolute;
  top: 200px;
  left: 260px;
  font-size: 80px;
}
.right {
  position: absolute;
  top: 200px;
  left: 950px;
  font-size: 80px;
}
.button1 {
  position: absolute;
  top: 350px;
  left: 675px;
}
button {
  border: 2px solid transparent;
  background: white;
  color: black;
  height: 50px;
  width: 160px;
  padding: 10px 15px 10px 15px;
}
button:hover {
  background-color: #c1aeb3;
}
h1 {
  color: #918686;
}
.position {
  border: 1px solid transparent;
  width: 300px;
  padding-left: 100px;
  padding-top: 30px;
}
.position:hover {
  background-color: #dca9f6;
}
.position4row2 {
  border: 1px solid transparent;
  width: 300px;
}
.position2 {
  padding-left: 40px;
}
.position3 {
  padding-left: 70px;
}
.position4 {
  padding-left: 5px;
}
.position5 {
  padding-left: 70px;
}
.blue {
  background-color: #ddf6f6;
}
.button7 {
  height: 50px;
  width: 150px;
  background-color: white;
  padding: 10px 10px;
  margin-left: 50px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-bottom: 200px;
  justify-content: stretch;
}
.margin-top-0 {
  margin-top: 0px;
}
.pink {
  background-color: #f6e8e8;
}
.green {
  background-color: #d9f6ed;
}
.video {
  position: relative;
  height: 0;
  overflow: hidden;
}
.text-align-c {
  text-align: center;
  margin-left: 0px;
}
.button10 {
  background-color: white;
  color: #beb0b0;
  height: 40px;
  width: 150px;
  margin-left: 590px;
  border: 1px solid #b0c7c0;
}
.newsletter {
  font-size: 15px;
}
.button11 {
  background-color: white;
  padding: 10px 10px;
  height: 40px;
  width: 80px;
  margin-top: 50px;
  margin-left: 630px;
  border: 1px solid #b0c7c0;
}
/*Footer*/
footer {
  margin-top: 100px;
}
.footer {
  margin-top: 20px;
  margin-left: 25px;
  filter: grayscale(100%);
}
.footernav {
  margin-left: 60px;
  border: 2px solid transparent;
  height: 30px;
  width: 100px;
  padding-bottom: 8px;
  color: #776e6e;
}
.footernav:hover {
  background-color: #b8aeae;
}
.flex {
  display: flex;
}
.copyright {
  margin-top: 15px;
  margin-left: 100px;
  color: #776e6e;
}
.margin-b {
  margin-bottom: -200px;
}
.margib-b2 {
  margin-bottom: 100px;
}
.row {
  width: fit-content;
  width: 1250px;
  margin: 0px auto;
}
